# Taller 5
Métodos Computacionales para Políticas Públicas - URosario

**Entrega: viernes 9-sep-2016 11:59 PM**

<div class="alert alert-success">
**[Nathalie Basto Aguirre]** <br><br>
[nathaliekupa@hotmail.com]
</div>

## Instrucciones:
- Guarde una copia de este *Jupyter Notebook* en su computador, idealmente en una carpeta destinada al material del curso.
- Modifique el nombre del archivo del *notebook*, agregando al final un guión inferior y su nombre y apellido, separados estos últimos por otro guión inferior. Por ejemplo, mi *notebook* se llamaría: mcpp_taller5_santiago_matallana
- Marque el *notebook* con su nombre y e-mail en el bloque verde arriba. Reemplace el texto "[Su nombre acá]" con su nombre y apellido. Similar para su e-mail.
- Desarrolle la totalidad del taller sobre este *notebook*, insertando las celdas que sea necesario debajo de cada pregunta. Haga buen uso de las celdas para código y de las celdas tipo *markdown* según el caso.
- Recuerde salvar periódicamente sus avances.
- Cuando termine el taller:
    1. Descárguelo en PDF. Si tiene algún problema con la conversión, descárguelo en HTML.
    2. Suba los dos archivos (.pdf -o .html- y .ipynb) a su repositorio en GitHub antes de la fecha y hora límites.

(Todos los ejercicios tienen el mismo valor.)

---

CREE 3 DICCIONARIOS PARA TRABAJAR

In [3]:
edad = {"juliana": 23, "mancho": 22, "pilar": 24, "manuel": 24, "laura": 21}
apellidos = {"pedro": "aguirre", "andres": "torres", "sebastian": "rivera", "memo": "salazar"}
dias = {"lunes": 0.5, "martes": 2.4, "miercoles": 6.7}

In [5]:
edad

{'juliana': 23, 'laura': 21, 'mancho': 22, 'manuel': 24, 'pilar': 24}

### 1
Escríba una función que ordene (de forma ascedente y descendente) un diccionario según sus valores.

In [10]:
import operator
print("la funcion orden ordena el diccionario segun sus valores para ascendente ponga a,para descendente ponga d entre comillas")
def orden(dic, tipo):
    if tipo=="a":
        sorted_dic = sorted(dic.items(), key=operator.itemgetter(1))
        print (sorted_dic)
    elif tipo=="d":
        sorted_dic = sorted(dic.items(), key=operator.itemgetter(1), reverse=True)
        print (sorted_dic)

la funcion orden ordena el diccionario segun sus valores para ascendente ponga a,para descendente ponga d entre comillas

In [11]:
orden(edad,"d")

[('pilar', 24), ('manuel', 24), ('juliana', 23), ('mancho', 22), ('laura', 21)]

In [13]:
orden(dias,"a")

[('lunes', 0.5), ('martes', 2.4), ('miercoles', 6.7)]

In [14]:
orden(dias, "d")

[('miercoles', 6.7), ('martes', 2.4), ('lunes', 0.5)]

### 2
Escriba una función que agregue una llave a un diccionario.

In [15]:
def agregar(dic, key, value):
    dic[key]= value
    return dic

In [16]:
agregar(edad, "maria", "25")

{'juliana': 23,
 'laura': 21,
 'mancho': 22,
 'manuel': 24,
 'maria': '25',
 'pilar': 24}

### 3
Escriba un programa que concatene los siguientes tres diccionarios en uno nuevo:

In [23]:
dicc1 = {1:10, 2:20} 
dicc2 = {3:30, 4:40} 
dicc3 = {5:50,6:60}
###Resultado esperado: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [25]:
dicc4 = {}
for d in [dicc1, dicc2, dicc3]:
  dicc4.update(d)
dicc4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### 4
Escriba una función que verifique si una determinada llave existe o no en un diccionario.

In [37]:
def esta(dic, key):
    if key in dic:
        print(key + " is in the dictionary")
    else:
        print(key + " is not in the dictionary")

In [38]:
esta(dias, "martes")

martes is in the dictionary

In [39]:
esta(edad, "nati")

nati is not in the dictionary

### 5
Escriba una función que imprima todos los pares (llave, valor) de un diccionario.

In [60]:
def lista(dic):
    for i in dic:
        print( i , dic[i])

In [61]:
lista(dias)

lunes 0.5
miercoles 6.7
martes 2.4

In [62]:
lista (edad)

pilar 24
mancho 22
laura 21
maria 25
manuel 24
juliana 23

### 6
Escriba una función que genere un diccionario con los números enteros entre 1 y n en la forma (x: x**2).

Ejemplo: n = 5
Resultado esperado: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [74]:

def cuadrados(n):
    result={}
    for i in range(1,n+1):
        result[i] = result.get(i,i**2)
    return result

In [76]:
cuadrados(6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### 7
Escriba una función que sume todas las llaves de un diccionario. (Asuma que son números.)

In [91]:
ejemplo = cuadrados(6)
ejemplo ##voy a usar este diccionario cuyas llaves son los numeros del 1 al 6 y sus valores son los cuadrados

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [92]:
list(ejemplo.keys())

[1, 2, 3, 4, 5, 6]

In [93]:
def sumakey(dic):
    for i in dic:
        x = sum(dic.keys())
    return x

In [94]:
sumakey(ejemplo)

21

### 8
Escriba una función que sume todos los valores de un diccionario. (Asuma que son números.)

In [184]:
ejemplo = cuadrados(6)
ejemplo ##voy a usar este diccionario cuyas llaves son los numeros del 1 al 6 y sus valores son los cuadrados

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [88]:
list(ejemplo.values())

[1, 4, 9, 16, 25, 36]

In [89]:
def sumaval(dic):
    for i in dic:
        x = sum(dic.values())
    return x

In [90]:
sumaval(ejemplo)

91

### 9
Escriba una función que sume todos los ítems de un diccionario. (Asuma que son números.)

In [98]:
list(ejemplo.items())

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36)]

In [141]:
def sumaitem(dic):
    x = 0
    y = 0
    for i in range(len(list(dic.items()))):
        for j in range(1):
            x = x + list(dic.items())[i][0] ##me da las llaves
            y = y + list(dic.items())[i][1] ##me da los valores
    return x, y

In [142]:
sumaitem(ejemplo)

(21, 91)

### 10
Escriba una función que tome dos listas y las mapee a un diccionario por pares. (El primer elemento de la primera lista es la primera llave del diccionario, el primer elemento de la segunda lista es el valor de la primera llave del diccionario, etc.)

In [148]:
w = [1,2,3,4]
w2 = ["a", "b", "c", "d"]

In [176]:
def agrupar(l1,l2):
    agrupado = {}
    for i in range(len(l1)):
            agrupado[l1[i]] = agrupado.get(l1[i],l2[i]) 
    return agrupado

In [171]:
agrupar(w,w2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

### 11
Escriba una función que elimine una llave de un diccionario.

In [185]:
ejemplo

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [186]:
def borrar(dic,key):
    del dic[key]
    return dic

In [187]:
borrar(ejemplo,5)

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36}

### 12
Escriba una función que arroje los valores mínimo y máximo de un diccionario.

In [188]:
def extremvalues(dic):
    x = min(dic.values())
    y = max(dic.values())
    return x,y

In [189]:
extremvalues(ejemplo)

(1, 36)

### 13

In [195]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
    if word != "the":
        word_lengths.append(len(word))

In [196]:
word_lengths

[5, 5, 3, 5, 4, 4, 3]

Simplifique el código anterior combinando las líneas 3 a 6 usando "list comprehension". Su código final deberá entonces tener tres líneas.

In [199]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()

In [200]:
word_lengths2 = [len(word) for word in words if word != "the"]

In [201]:
word_lengths2

[5, 5, 3, 5, 4, 4, 3]

### 14

In [218]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Escriba una línea de código que tome la lista <mark>a</mark> y arroje una nueva lista con solo los elementos pares de <mark>a</mark>.

In [219]:
b = [i for i in a if i%2==0 ]

In [220]:
b

[4, 16, 36, 64, 100]

### 15

Escriba una línea de código que tome la lista <mark>a</mark> del ejercicio 14 y multiplique todos sus valores.

In [222]:
from functools import reduce
reduce(lambda x,y:x*y, a)

13168189440000

### 16

Usando "list comprehension", cree una lista con las 36 combinaciones de un par de dados, como tuplas: [(1,1), (1,2),...,(6,6)].

In [224]:
x = [(s,t) for s in range(1,7) for t in range(1,7)]
print (x)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

---